*{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
img{
    width: 100%;
}
body{
    background: #212121;
}
nav{
    background: white;
}
.flex{
    display: flex;
    align-items: center;
}
/*Media-Queries - Mobile first approach*/
@media (min-width:300px){
    nav img{
        height: 6vh;
        width: 11vh;
        margin: 1rem;

    }
    nav{
        display: flex;
        justify-content: center;
        padding: 2vh 0 ;
    }
    nav h3{
        color: #212121;
        font-weight: bolder;
    }
    .one h4,p{
        text-align: center;
        padding: 1.5vh 0;
    }
    .one h4{
        margin-top: 5vh;
    }
    .one img{
        padding-top: 3vh;
    }
    .two{
        background: white;
        padding: 1.5rem;
        width: 70%;
        margin: 3vh auto;
        border-radius: 12px;
    }
    .two label{
        color: #212121;
        font-size: 1.1rem;
    }
    .two input[type="text"]{
       border: none;
       padding: 0.8rem;
       border-bottom: 1px solid #212121;
       outline: none;
       font-size: 1.2rem;
       width: 90%;
      
    }
    .two input[type="radio"],input[type="checkbox"]{
        margin-right: 1rem;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    .checkboxes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .button{
        background: #212121;
        font-weight: bold;
        outline: none;
        border: none;
        padding: 0.9rem;
        border-radius: 12px;
        width: 90%;
        margin-top: 3vh;
    }
    .equipment_list h3{
        text-align: center;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
    .card{
        background: white;
        border-radius: 12px;
        padding: 1rem;
        margin: 1.5rem;
    }
    .segmentA{
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .segmentA h3{
        color: #212121;
        text-align: center;
        padding-top : 4vh;
    }
    .segmentA img{
        width: 70%;
    }
    .segmentB{
        background: #212121;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .segmentB h3{
        
        text-align: center;
        padding : 4vh;
    }
    .segmentB img{
        width: 70%;
       height: 6rem;
    }

}
 @media (min-width:700px){
    .one h4,p{
        font-size: 1.6rem;
    }
    .equipment_list h3{
        font-size: 1.6rem;
    }
    .cards{
        margin: 4.5rem;
    }
    .segments{
        display: flex;
    }

 }



 @media (min-width:900px){
    h1{
        font-size: 34px;
    }
 }